<!DOCTYPE html>
<html>

<head>
    <title>Server-side sample</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1">
    <link rel="stylesheet" type="text/css" href="/css/schema.min.css">
</head>

<body>
    <div class="container">
        <div class="row-fluid">
            <div class="col8">
                <h1>My App</h1>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-title">
                Server-side sample
                <a href="/client-side" class="btn btn-primary right-float" style="margin-top: -.5rem">
                    Go to client-side sample
                </a>
            </div>
            <div class="panel-body">
                <div class="row-fluid">
                    <h4>Response body</h4>
                    <textarea class="form-element" rows="4">{{response}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>
</body>

</html>
